<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>湖北省教育资源公共服务平台</title>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/layer/skin/default/layer.css" />
    <link rel="stylesheet" href="/static/manage/css/manage.css" />
</head>
<body>
    <div class="header">
        <div class="brand fl">湖北省教育资源公共服务平台汉字解密后台</div>
    </div>

    <div class="login_area">
        <div class="login_input">
            <i class="fa fa-user"></i>
            <input id="username" type="text" placeholder="帐号">
        </div>
        <div class="login_input">
            <i class="fa fa-lock"></i>
            <input id="password" type="password" placeholder="密码">
        </div>
        <div id="login">登录</div>
    </div>

    <script src="/static/contrib/js/jquery.min.js"></script>
    <script src="/static/contrib/js/jquery.mb.browser.min.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script>document.write( " <script src='/static/manage/js/login.js?rnd= " + Math.random() + " '></s" + "cript> " );</script>
</body>
</html>